//Variables

$primary: #003333;
$grey: #333333;
$grey-light: #cccccc;

//Keyframes
//@keyframes fadein {
//  from {opacity: 0;}
//  to {opacity: 1;}
//}
//
///* Firefox < 16 */
//@-moz-keyframes fadein {
//  from {opacity: 0;}
//  to {opacity: 1;}
//}
//
///* Safari, Chrome and Opera > 12.1 */
//@-webkit-keyframes fadein {
//  from {opacity: 0;}
//  to {opacity: 1;}
//}
//
///* Internet Explorer */
//@-ms-keyframes fadein {
//  from {opacity: 0;}
//  to {opacity: 1;}
//}
//
///* Opera < 12.1 */
//@-o-keyframes fadein {
//  from {opacity: 0;}
//  to {opacity: 1;}
//}

//Global
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $grey;
}

.section {
  padding: 2rem 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
a.anchor {
  display: block;
  position: relative;
  top: -78px;
  visibility: hidden;

@media(min-width: 768px) {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
  }
}

//Headings

h1 {
  border-left: 5px solid $primary;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: .08rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  color: $primary;
  padding: 0 0 1rem 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 700;
}

//Buttons

.btn {
  border-radius: 0;
  border: none;
  background-color: $grey;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: .5rem 1rem;

  &:hover {
    background-color: $grey-light;
  }
}

// Hero section

header {
  background: linear-gradient(rgba(0, 51, 51, 0.5), rgba(0, 51, 51, 0.5)), url('../images/hero.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh);

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: .5px .5px #000;
    //-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    //-moz-animation: fadein 1s; /* Firefox < 16 */
    //-ms-animation: fadein 1s; /* Internet Explorer */
    //-o-animation: fadein 1s; /* Opera < 12.1 */
    //animation: fadein 1s;

    h1 {
      font-size: 10vh;
      border-left: none;
      line-height: 11vh;
    }

    p {
      font-size: 3vh;
      max-width: 600px;
      font-weight: 500;
      margin: 0 auto;
    }
  }
}

//Amenities
.amenities {
  background-color: $primary;
  color: white;

  h1 {
    border-left: 5px solid $grey-light;
  }

  p {


    margin-block-end: 4em;

    @media(min-width: 768px) {
      margin-block-end: 2rem;
    }
  }

  .icon-border {
    border-radius: 50%;
    border: 2px solid white;
    background-color: $grey;

    .image {
      padding: 2rem;
    }
  }
}

//Leisure
.leisure {
  background-color: $primary;

  h1 {
    color: white;
    border-left: 5px solid $grey-light;
  }

  .thumbnail {
    border: none;
    border-radius: 0;

    .content {
      padding: 1rem;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    position: relative;
    background: white;
    width: 100%;
    margin-bottom: 2rem;

    @media(min-width:576px){
      width: 48%;
    }

    @media(min-width:992px){
      padding: 0;
      width: 23%;
      margin-bottom: 0;
    }
  }

  .btn {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 50%;
    text-align: center;
    margin: 0 25%;
  }
}

//Navigation
//Mobile
.top-menu {
  background-color: $primary;
  position: fixed;
  z-index: 5000;
  width: 100%;
  top: 0;

  .navbar-toggle {
    margin-top: 20px;
    border-color: white;

    .icon-bar {
      background-color: white;
    }
  }
.navbar {
  margin:0;
}
  ul {
    li {
      a {
        color: white;
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-top: 1rem;

        &:hover {
          color: $grey-light;
          background: transparent;
        }
      }
    }
  }
  .navbar-brand {
    padding: 5px;

    img {
      width: 80px;
    }
  }
}

//Desktop
@media(min-width: 768px) {
  .top-menu {
    height: 100px;

    .navbar {
      border: none;
      margin: 0;
      margin-right: -15px;

      .navbar-nav {
        li {
          a {
            color: white;
            font-size: 1.125rem;
            text-transform: uppercase;
            margin-top: 25px;

            &:hover {
              color: $grey-light;
              background: transparent;
            }

            &:focus {
              background-color: transparent;
              outline: none;
            }

          }
        }
      }
    }

    .navbar-brand {
      padding: 0;
      margin: 7px 0 0 0;

      img {
        width: 100px;
      }
    }
  }
}
//gallery

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}

//contact
.contact {
  .container{
    background-image: url('../images/map.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '' !important;
    margin: -2rem auto;
    transform: translateZ(0px);
  }

  .white {
    background-color: white;
    padding: 2rem 1rem 4rem 1rem ;
  }

  p {
    font-size: 1.125rem;
    padding: .5rem 0;

    @media(min-width: 768px) {
      font-size: 1rem;
    }
    @media(min-width: 1200px) {
      font-size: 1.125rem;
    }

    i {
      padding-right: 1rem;
    }
  }
}

//footer
.footer {
  background-color: $primary;
  color: white;
  text-align: center;

  a {
    color: white;

    i {
      font-size: 2rem;
      right: 0;
    }
  }
}
