//Variables

$primary: #003333;
$grey: #333333;
$grey-light: #cccccc;

//Global

html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: $grey;
}

.section {
  padding: 2rem 0;
}

//Headings

h1 {
  border-left: 5px solid $primary;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
  letter-spacing: .08rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  color: $primary;
  padding: 0 0 1rem 0;
}

.lead {
  font-size: 1.25rem;
}

//Buttons

.btn {
  border-radius: 0;
  border: none;
  background-color: $grey;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: .5rem 1rem;

  &:hover {
    background-color: $grey-light;
  }
}

// Hero section

header {
  background: linear-gradient(rgba(0, 51, 51, 0.5), rgba(0, 51, 51, 0.5)), url('../images/hero.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 100px);
  margin-top: 100px;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: .5px .5px #000;

    h1 {
      font-size: 2.625rem;
      border-left: none;
    }

    p {
      font-size: 2rem;
      max-width: 600px;
      font-weight: 500;
      margin: 0;
    }
  }

}

//Amenities
.amenities {
  background-color: $primary;
  color: white;

  h1 {
    border-left: 5px solid $grey-light;
  }

  .icon-border {
    border-radius: 50%;
    border: 2px solid white;
    background-color: $grey;

    .image {
      padding: 2rem;
    }
  }
}

//Leisure
.leisure {
  background-color: $primary;

  h1 {
    color: white;
    border-left: 5px solid $grey-light;
  }

  .thumbnail {
    border: none;
    border-radius: 0;

    .content {
      padding: 1rem;
    }
  }
}

//Anchor link fixed header solution
:target:before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}

//Navigation

.top-menu {
  height:100px;
  background-color:$primary;
  z-index: 5000;
  width:100%;
  position: fixed;
  top: 0;

  .navbar {
    border: none;
    margin: 0;
    margin-right: -15px;

    .navbar-nav {
      li {
        a {
          color: white;
          font-size: 1.125rem;
          text-transform: uppercase;
          margin-top: 25px;

          &:hover {
            color: $grey-light;
            background: transparent;
          }
        }
      }
    }
  }

  .navbar-brand {
    padding: 0;
    margin: 7px 0 0 0;
  }
}
